/* VARIABLES BIO*/
$ancho-foto: 400px;
$size-titulo: 60px;
$size-subtitulo: 30px;
$size-texto: 25px;

/*Titulo de todas las paginas*/
$titulo-paginas-font-size: 40px;
$titulo-paginas-font-weight: bold;
$titulo-paginas-color: #483c50;
$titulo-paginas-margin-top: 150px;
$titulo-paginas-margin-left: 50px;

/*Imagenes Galeria*/
$outfit1:url(../multimedia/outfit7.2.webp);
$outfit2: url(../multimedia/outfit10.webp);
$outfit3: url(../multimedia/outfittour1.2.jpg);
$outfit4: url(../multimedia/outfit6.jpg);
$outfit5: url(../multimedia/outfit8.jpg);
$outfit6: url(../multimedia/outfit7.jpg);
$outfit7: url(../multimedia/outfittour3.jpg);
$outfit8: url(../multimedia/outfit11.jpg);
$outfit9: url(../multimedia/outfittour2.webp);
$outfit10: url(../multimedia/outfit4.2.webp);
$outfit11: url(../multimedia/outfit9.jpg);


/*
.titulodiscografia{
    font-size: 40px;
    font-weight: bold;
    color: rgb(63, 36, 90);
    margin-top: 150px;
    margin-left: 50px;}*/

